In [71]:
import pandas as pd
import numpy as np

In [72]:
pricing_project_df = pd.read_excel('03 Python test and Dataset.xlsx', sheet_name='pricing_project_dataset')

In [73]:
pricing_project_df.head()

,grass_region,category_group,seller_type,shopee_item_id,shopee_model_id,competitor_item_id,competitor_model_id,shopee_model_price_usd,shopee_model_price,competitor_model_price,shopee_gmv_usd,shopee_order,shopee_model_competitiveness_status
0,ID,Electronics,Long Tail (LT),5646734211,3953474697,9153508336,992466002,50.336449,779233,647903,8758.537644,174,Shopee > CPT
1,SG,FMCG,Long Tail (LT),3735125711,6296885988,3250973377,3554673425,60.001669,81,94,11120.737124,187,Shopee < CPT
2,TH,Electronics,Non-Mall,2579813608,1304588577,4678400449,2635346813,18.069590,659,675,3178.819563,176,Shopee < CPT
3,PH,FMCG,Long Tail (LT),8699492214,5735505766,9052147161,1100640033,16.023395,906,861,560.405768,35,Shopee > CPT
4,TH,FMCG,Long Tail (LT),4815010572,2537451514,1289693311,330522796,169.298181,6177,7004,1523.659436,9,Shopee < CPT

In [74]:
pricing_project_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20999 entries, 0 to 20998
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   grass_region                         20999 non-null  object
 1   category_group                       20999 non-null  object
 2   seller_type                          20999 non-null  object
 3   shopee_item_id                       20999 non-null  int64
 4   shopee_model_id                      20999 non-null  int64
 5   competitor_item_id                   20999 non-null  int64
 6   competitor_model_id                  20999 non-null  int64
 7   shopee_model_price_usd               20999 non-null  float64
 8   shopee_model_price                   20999 non-null  int64
 9   competitor_model_price               20999 non-null  int64
 10  shopee_gmv_usd                       20999 non-null  float64
 11  shopee_order                         20999 non-null  int64
 12  shopee_model_competitiveness_status  20999 non-null  object
dtypes: float64(2), int64(7), object(4)
memory usage: 2.1+ MB

In [75]:
platform_number_df = pd.read_excel('03 Python test and Dataset.xlsx', sheet_name='platform_number')

In [76]:
platform_number_df.head()

  region  platform order  platform_gmv_usd
0     ID      1553364.13      2.438838e+08
1     MY       333184.27      7.341684e+07
2     PH       392687.73      7.538330e+07
3     SG       526181.77      9.917030e+07
4     TH      1018358.54      1.734009e+08

In [77]:
platform_number_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   region            6 non-null      object
 1   platform order    6 non-null      float64
 2   platform_gmv_usd  6 non-null      float64
dtypes: float64(2), object(1)
memory usage: 276.0+ bytes

In [78]:
exchange_rate_df = pd.read_excel('03 Python test and Dataset.xlsx', sheet_name='exchange_rate')

In [79]:
exchange_rate_df.head()

  grass_region currency  exchange_rate
0           SG      SGD        1.36205
1           TW      TWD       32.24250
2           MY      MYR        4.68675
3           ID      IDR    15480.50000
4           PH      PHP       56.58400

In [80]:
exchange_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   grass_region   26 non-null     object
 1   currency       26 non-null     object
 2   exchange_rate  26 non-null     float64
dtypes: float64(1), object(2)
memory usage: 756.0+ bytes

## Question 1
* Cluster item lv into each portion (dataset is at model lv) (5 points)
* From the dataset 1 Please calculate and fill the data to this table

In [81]:
# Merge platform data with pricing data
merged_data = pd.merge(pricing_project_df, platform_number_df, left_on='grass_region', right_on='region')

In [82]:
# Calculate Order Coverage
merged_data['order_coverage'] = merged_data['shopee_order']/merged_data['platform order']

In [83]:
# Calculate Net Competitiveness
merged_data['competitiveness'] = np.where(merged_data['shopee_model_competitiveness_status'] == 'Shopee < CPT', 1, 
                                          np.where(merged_data['shopee_model_competitiveness_status'] == 'Shopee > CPT', -1, 0))

In [84]:
merged_data.head()

,grass_region,category_group,seller_type,shopee_item_id,shopee_model_id,competitor_item_id,competitor_model_id,shopee_model_price_usd,shopee_model_price,competitor_model_price,shopee_gmv_usd,shopee_order,shopee_model_competitiveness_status,region,platform order,platform_gmv_usd,order_coverage,competitiveness
0,ID,Electronics,Long Tail (LT),5646734211,3953474697,9153508336,992466002,50.336449,779233,647903,8758.537644,174,Shopee > CPT,ID,1553364.13,2.438838e+08,0.000112,-1
1,ID,FMCG,Cross Border,2360234746,8873059029,4373636343,6388067669,304.812518,4718650,4963058,51513.313523,169,Shopee < CPT,ID,1553364.13,2.438838e+08,0.000109,1
2,ID,Lifestyle,Cross Border,4066670015,3392849992,6682615321,6466430183,40.371827,624976,599679,7024.697135,174,Shopee > CPT,ID,1553364.13,2.438838e+08,0.000112,-1
3,ID,Fashion,Cross Border,1803766116,9789480590,9161538993,6257218394,318.419406,4929291,4742978,19742.000711,62,Shopee > CPT,ID,1553364.13,2.438838e+08,0.000040,-1
4,ID,FMCG,Mall,1234281420,1679483802,9265679840,4767229257,287.927594,4457263,4971937,47220.124156,164,Shopee < CPT,ID,1553364.13,2.438838e+08,0.000106,1

In [85]:
# # Group by region and calculate metrics
result = merged_data.groupby('grass_region').agg({
    'order_coverage': 'sum', 
    'competitiveness': 'mean', 
    'shopee_item_id': 'nunique'
}).reset_index()

In [86]:
# Rename columns
result.columns = ['Region', 'Order Coverage (by Item)', 'Net Competitiveness (by Item)', '# of Item']

In [87]:
result

  Region  Order Coverage (by Item)  Net Competitiveness (by Item)  # of Item
0     ID                  0.546299                       0.001898       8428
1     MY                  0.623496                       0.002833       2118
2     PH                  0.516156                       0.002469       2025
3     SG                  0.417392                      -0.061531       2194
4     TH                  0.400668                       0.005801       4137
5     VN                  0.516903                      -0.012876       2097

## Question 2
* Please write a python or pyspark code to re-arrange the data set to item_lv with the given priority  (5 points)

In [88]:
# Create a new column with the priority of the status
status_priority = {'Shopee < CPT': 0, 'Shopee = CPT': 1, 'Shopee > CPT': 2}
pricing_project_df['status_priority'] = pricing_project_df['shopee_model_competitiveness_status'].map(status_priority)

In [89]:
pricing_project_df.head()

,grass_region,category_group,seller_type,shopee_item_id,shopee_model_id,competitor_item_id,competitor_model_id,shopee_model_price_usd,shopee_model_price,competitor_model_price,shopee_gmv_usd,shopee_order,shopee_model_competitiveness_status,status_priority
0,ID,Electronics,Long Tail (LT),5646734211,3953474697,9153508336,992466002,50.336449,779233,647903,8758.537644,174,Shopee > CPT,2
1,SG,FMCG,Long Tail (LT),3735125711,6296885988,3250973377,3554673425,60.001669,81,94,11120.737124,187,Shopee < CPT,0
2,TH,Electronics,Non-Mall,2579813608,1304588577,4678400449,2635346813,18.069590,659,675,3178.819563,176,Shopee < CPT,0
3,PH,FMCG,Long Tail (LT),8699492214,5735505766,9052147161,1100640033,16.023395,906,861,560.405768,35,Shopee > CPT,2
4,TH,FMCG,Long Tail (LT),4815010572,2537451514,1289693311,330522796,169.298181,6177,7004,1523.659436,9,Shopee < CPT,0

In [90]:
# Group by 'shopee_item_id' and assign the lowest priority status to each item
item_level_df = pricing_project_df.groupby('shopee_item_id')['status_priority'].min().reset_index()

In [91]:
# Map back to the original status
priority_status_reverse = {0: 'Shopee < CPT', 1: 'Shopee = CPT', 2: 'Shopee > CPT'}
item_level_df['item_competitiveness_status'] = item_level_df['status_priority'].map(priority_status_reverse)

In [92]:
# Drop the 'status_priority' column since it's no longer needed
item_level_df.drop(columns='status_priority', inplace=True)

In [93]:
# Rename shopee_item_id to item_id
item_level_df.rename(columns={'shopee_item_id': 'item_id'}, inplace=True)

In [94]:
# Display the new item level dataframe
item_level_df

          item_id item_competitiveness_status
0          580861                Shopee > CPT
1         1323167                Shopee < CPT
2         1837669                Shopee < CPT
3         2650112                Shopee < CPT
4         2666411                Shopee < CPT
...           ...                         ...
20994  9998345075                Shopee > CPT
20995  9998445880                Shopee > CPT
20996  9998941910                Shopee > CPT
20997  9999045475                Shopee < CPT
20998  9999460765                Shopee < CPT

[20999 rows x 2 columns]

## Question 3
* How many item at top 30% of model that contribute in highest order to platform by each country/region? (5 points)

In [95]:
# Sort the dataset by 'shopee_order' in descending order to identify the top contributors
df_sorted = pricing_project_df.sort_values(by='shopee_order', ascending=False)

In [96]:
df_sorted

,grass_region,category_group,seller_type,shopee_item_id,shopee_model_id,competitor_item_id,competitor_model_id,shopee_model_price_usd,shopee_model_price,competitor_model_price,shopee_gmv_usd,shopee_order,shopee_model_competitiveness_status,status_priority
9400,TH,FMCG,Mall,236200195,3529658367,7084704834,3399194254,234.232930,8546,8586,46844.723391,200,Shopee < CPT,0
20406,MY,FMCG,Long Tail (LT),305285446,9409334427,6571941686,5844937455,139.914678,655,538,27951.138849,200,Shopee > CPT,2
8552,TH,Electronics,Mall,1115966441,2232119168,3433197313,2758167002,418.691120,15276,13633,83735.080098,200,Shopee > CPT,2
16573,PH,Lifestyle,Cross Border,481808205,3820304237,5177250225,3307578171,219.439900,12416,14375,43885.197229,200,Shopee < CPT,0
9376,ID,Fashion,Mall,9597654108,4478053664,7021117396,1868515241,153.538955,2376859,2762383,30707.780756,200,Shopee < CPT,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20715,ID,Lifestyle,Non-Mall,1773416807,3534283146,3685446186,684923024,92.370762,1429945,1679539,92.370724,1,Shopee < CPT,0
15523,ID,Fashion,Long Tail (LT),1030487113,3282560859,7252708631,80088214,7.154949,110762,91466,7.154937,1,Shopee > CPT,2
5159,MY,Fashion,Mall,3823937878,2526955791,5594466424,5957451214,122.413727,573,580,122.259562,1,Shopee < CPT,0
14472,ID,Fashion,Non-Mall,1465396373,2387424927,5364858352,2199487825,55.811116,863983,776702,55.811053,1,Shopee > CPT,2
20350,ID,Electronics,Non-Mall,6315551134,1888652327,7114019554,2455408154,206.801115,3201384,2945421,206.801072,1,Shopee > CPT,2

In [97]:
# Calculate the top 30% of items
top_30_percent_count = int(len(df_sorted)*0.3)
top_30_percent_count

6299

In [98]:
# Select the top 30% of items
df_top_30_percent = df_sorted.head(top_30_percent_count)

In [99]:
# Count the number of items contributing to the highest orders by each country/region
top_item_by_region = df_top_30_percent.groupby('grass_region')['shopee_order'].count()

In [100]:
# Display the results
top_item_by_region = top_item_by_region.reset_index(name='# of items')
top_item_by_region.rename(columns={'grass_region': 'Region'}, inplace=True)

top_item_by_region

  Region  # of items
0     ID        2600
1     MY         604
2     PH         595
3     SG         658
4     TH        1194
5     VN         648

## Question 4
* from a provided dataset, Please create the dashboard in presentation to present insights to management in GG Slide (2-4 slide) (8 points)

https://docs.google.com/presentation/d/1M_v6H3aHSjQpyzsAeTOm-I-Cr4kznazhvsrWxW-OgUI/edit?usp=sharing